{% extends 'single.html' %}

{% load static %}

{% block titulo_cambia %} destinosLeer {% endblock %}

{% block contenido %} 

<ul>
{% for destinos in destinos %} 
<li>{{ destinos.titulo }} - {{ destinos.subtitulo }} - {{ destinos.lugar }} - {{ destinos.provincia }}</li>
<img src="{{ destinos.imagen.url }}" class="img-fluid">
<a class="btn btn-danger" href="{% url 'destinosEliminar' destinos.id %}" >Borrar</a>
<a class="btn btn-success" href="{% url 'destinosEditar' destinos.id %}" >Editar</a>    

{% endfor %}
</ul>    

{% endblock %}